# =========================
# 1. Node.js (Vue)
# =========================
node_modules/
dist/
npm-debug.log*

# =========================
# 2. Java / Spring Boot
# =========================
build/
target/
.gradle/
*.class
*.jar
*.war

# =========================
# 3. Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3

# =========================
# 4. OS & IDE
# =========================
.DS_Store
.idea/
.vscode/